[Socket]
ListenStream=/run/cynara/cynara.sock
SocketMode=0777
SmackLabelIPIn=@
SmackLabelIPOut=@

Service=cynara.service

[Unit]
Wants=cynara.target
Before=cynara.target

[Install]
WantedBy=sockets.target
