[Socket]
ListenStream=/run/cynara/cynara-admin.sock
SocketMode=0700
SmackLabelIPIn=@
SmackLabelIPOut=@

Service=cynara.service

[Unit]
Wants=cynara.target
Before=cynara.target

[Install]
WantedBy=sockets.target
