[Unit]
Description=Cynara service

[Service]
ExecStart=/usr/bin/cynara

Type=notify

KillMode=process
TimeoutStopSec=3
Restart=always

Sockets=cynara.socket
Sockets=cynara-admin.socket
Sockets=cynara-agent.socket

UMask=0000
User=cynara
Group=cynara
NoNewPrivileges=true

#Environment="CYNARA_LOG_LEVEL=LOG_DEBUG"
#Environment="CYNARA_AUDIT_LEVEL=ALL"

[Install]
WantedBy=multi-user.target
